@import 'o-buttons/main';
@import 'o-forms/main';
@import 'o-overlay/main';
@import 'o-icons/main';
@import 'o-colors/main';
@import 'o-typography/main';
@import 'o-loading/main';

@include oForms($opts: (
	'elements': (
		'textarea',
		'radio-round'
	)
));

@include oOverlay();

@mixin centerForm {
	max-width: 380px;
	margin: 0 auto;
}

// Desktop styles
@include oGridRespondTo($from: M){
	.n-feedback__container {
		.n-feedback__survey-trigger {
			z-index: 1000;
			display: block;
			width: 100px;
			height: 28px;
			position: fixed;
			right: 3px;
			bottom: 200px;
			margin-right: -39px;
			padding-top: 2px;
			color: oColorsByName('white');
			background-color: oColorsByName('teal');
			border: 1px solid oColorsByName('teal');
			// Forcing GPU acceleration to get the button working properly on IPad
			// caused by a bug using fixed positioning along with safari web layer in App
			transform: translate3d(0,0,0) rotate(-90deg);
			@include oTypographySans($scale: 0, $weight: 'semibold');

			span {
				display: block;
			}
		}
	}

	// overriding o-overlay styles and positioning the feedback box
	.o-overlay.feedback-overlay {
		/* Resetting the inline values first */
		left: inherit!important;
		margin-left: inherit!important;
		margin-top: inherit!important;
		top: inherit!important;

		/* Actual styles */
		right: 42px;
		bottom: 36px;
		width: 300px;
		height: 390px;
		// Height of the viewport minus the padding on top and bottom.
		max-height: calc(100vh - 72px);
	}

	.n-feedback__desktop__prompt {
		display: none;
	}
}

// Mobile only styles
@include oGridRespondTo($until: M){
	.feedback-overlay {
		top: 0;
	}

	.n-feedback__container {
		display: block;
		background: oColorsByName('white');
		text-align: center;
		padding: 1em;
		margin: 0 10px;

		.n-feedback__survey-trigger {
			@include oButtonsContent($opts: (
				'type': 'primary'
			));

			span {
				text-transform: lowercase;

				&::before {
					content: 'Leave ';
					text-transform: capitalize;
				}
			}
		}
	}

	.n-feedback__desktop__prompt {
		@include oTypographySans($weight: 'semibold');
		margin-bottom: oSpacingByName('s3');
	}

	.n-feedback__center-block {
		@include centerForm;
	}
}

.feedback-overlay {
	.feedback-overlay__loader-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.feedback-overlay .o-overlay__content {
	@include oTypographySans(0);
	height: 100%;
	// o-overlay v2.7.11 styles .o-overlay__content with `padding: 20px;`,
	// o-overlay v3.0.0 styles .o-overlay__content with `oSpacingByName('s4')`, which evaluates to 16px,
	// and so needs to be overwritten with below line to maintain padding of 20px.
	padding: oSpacingByIncrement(5);

	.n-feedback__primary-button {
		@include oButtonsContent($opts: (
			'type': 'primary'
		));
	}

	// Visually hide the feedback buttons (i.e. submit/back) when they are inactive.
	// This became an option in o-buttons@[^5.16.6](https://github.com/Financial-Times/o-buttons/pull/202).
	.n-feedback__primary-button[disabled] {
		visibility: hidden;
	}

	.n-feedback__survey__close-button {
		border-bottom: none;
		margin-top: -8px;
		margin-right: -8px;

		span {
			@include oNormaliseVisuallyHidden;
		}
	}

	.n-feedback__survey__wrapper-form {
		margin: 0;
	}

	.n-feedback__question-header {
		@include oTypographySans(0);
		margin: 0 0 1em 0;
	}

	.n-feedback__question-text {
		display: none;
	}

	.n-feedback__question-text-entry {
		.o-forms-field {
			margin-bottom: 20px;
			display: block;

			textarea {
				max-height: 240px;
			}
		}
	}

	.n-feedback__question-radio {
		border: 1px solid oColorsByName('slate');
		border-left: none;
		border-right: none;
		padding: 4px 0;

		// Adjust the spacing slightly so the radios take up less space.
		.o-forms-field {
			margin-bottom: 10px;
		}
		.o-forms-input {
			margin-top: 10px;
		}

		legend {
			@include oNormaliseVisuallyHidden;
		}
	}

	.n-feedback__question-footer {
		margin: 1em 0;

		a {
			@include oTypographyLink();
		}
	}

	.n-feedback__survey__button-bar {
		text-align: right;
		margin-bottom: 0;
	}
}

.n-feedback--hidden {
	display: none;
}

.n-feedback__survey-block-finished {
	.n-feedback__question-header::before {
		@include oIconsContent('tick', oColorsByName('black'), $size: 48);
		content: '';
		vertical-align: middle;
	}

	// we're using the o-overlay__close class on this button just
	// for the behaviour, so remove the icon
	.n-feedback__primary-button.o-overlay__close {
		background-image: none;
	}
}

// Hide on ad overlap
@media (min-width: 980px) and (max-width: 1000px)  {
	.n-feedback__container {
		display: none;
	}
}
@media (min-width: 1220px) and (max-width: 1240px) {
	.n-feedback__container {
		display: none;
	}
}

@include oLoading($opts: (
	'themes': ('dark'),
	'sizes': ('large')
));
