@import 'n-ui-foundations/main';
@import 'o-buttons/main';
@import 'o-forms/main';
@import 'o-overlay/main';
@import "o-icons/main";
@import "o-colors/main";

@include oFormsBaseFeatures();
@include oFormsRadioCheckboxFeatures();

// Desktop styles
@include oGridRespondTo($from: M){
	.n-feedback__container {
		.n-feedback__survey-trigger {
			z-index: 1000;
			display: block;
			width: 100px;
			height: 35px;
			position: fixed;
			right: 0px;
			bottom: 200px;
			margin-right: -39px;
			color: getColor('white');
			background: getColor('teal');
			border: 1px solid getColor('teal');
			transform: rotate(-90deg);
			@include oTypographySansBold(0);

			span {
				display: block;
				margin-top: -7px;
			}
		}
	}

	// overriding o-overlay styles and positioning the feedback box
	.o-overlay.o-overlay--feedback-overlay {
		/* Resetting the inline values first */
		left: inherit!important;
		margin-left: inherit!important;
		margin-top: inherit!important;
		top: inherit!important;

		/* Actual styles */
		right: 42px;
		bottom: 36px;
		width: 300px;
		height: 286px;
		z-index: 1001!important;
	}

	.n-feedback__desktop__prompt {
		display: none;
	}
}

// Mobile only styles
@include oGridRespondTo($until: M){
	.o-overlay--feedback-overlay {
		top: 0;
		z-index: 110;
	}

	.n-feedback__container {
		display: block;
		background: getColor('white');
		text-align: center;
		padding: 1em;
		margin: 0 10px;

		.n-feedback__survey-trigger {
			@include oButtons(default, primary);
			margin-bottom: 10px;

			span {
				text-transform: lowercase;

				&::before {
					content: 'Leave ';
					text-transform: capitalize;
				}
			}
		}
	}

	.n-feedback__desktop__prompt {
		@include oTypographySansBold(0);
	}
}

.o-overlay--feedback-overlay .o-overlay__content {
	@include oTypographySans(0);

	.n-feedback__primary-button {
		@include oButtons(default, primary);
	}

	.n-feedback__survey__close-button {
		border-bottom: none;
		margin-top: -10px;
		margin-right: -10px;

		span {
			@include oNormaliseVisuallyHidden;
		}
	}

	.n-feedback__question-header {
		@include oTypographySans(0);
		margin: 0 0 1em 0;
	}

	.n-feedback__question-text {
		display: none;
	}

	.n-feedback__question-text-entry {
		textarea {
			min-height: 126px;
			resize: none;
		}
	}

	.n-feedback__question-radio {
		border-top: 1px solid getColor('slate');
		border-bottom: 1px solid getColor('slate');
		border-left: none;
		border-right: none;
		padding: 1em 0 0.4em 0;

		legend {
			@include oNormaliseVisuallyHidden;
		}

		.n-feedback__question-radio__container {
			@include oFormsGroup();
			display: flex;
			margin-top: 0;
			margin-bottom: 0;
			padding: 0 0 10px 10px;

			@include oGridRespondTo($until: M){
				padding: 0 0 10px 30px;
			}
		}

		.n-feedback__question-radio__choice-container {
			flex-grow: 1;
			text-align: center;
		}

		label {
			span {
				display: block;
				margin-left: -50px;
				margin-top: 30px;
			}
		}

		.hidden-label span {
			@include oNormaliseVisuallyHidden;
		}
	}

	.n-feedback__survey__button-bar {
		text-align: right;
		margin-bottom: 0;
	}
}

.n-feedback--hidden {
	display: none;
}

// Hide on ad overlap
@media (min-width: 980px) and (max-width: 1000px)  {
	.n-feedback__container {
		display: none;
	}
}
@media (min-width: 1220px) and (max-width: 1240px) {
	.n-feedback__container {
		display: none;
	}
}
